*{
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 8%;
}